.btn {
  padding: 15px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 1.5rem;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}
.btn--outlined {
  background: transparent;
  color: $primary-main;
  border: 2px solid $primary-main;
  transition: all 0.5s;
  margin-right: 8px;
  box-shadow: 0 3px 6px #c9d8f4;

  &:hover {
    background: $primary-main;
    color: white;
  }
}
.btn--contained {
  background: $primary-main;
  color: white;
  border: 2px solid $primary-main;
  transition: all 0.5s;

  &:hover {
    opacity: 0.6;
    color: white;
  }
}

.darkMode {
  .btn--outlined {
    box-shadow: none;
  }
}
