body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f5f9fe;
}

.darkMode {
  background-color: #121212;
}

html {
  font-size: 10px; //1rem = 10px
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
